
# ignore these root folders
/.vscode/
/node_modules/

# ignore these folders at any level
*archive/
temp/
tmp/

# ignore these files in any folder
.container
.DS_Store
process.mjs
process.wasm
process.wasm.map
process.wat

# temporarily ignoring these folders that are WIP on my machine
/c/with-ao-container
/lua/with-ao-cli
/python
