
# ignore these root folders
/.vscode/
/node_modules/

# ignore these folders at any level
*archive/
temp/
tmp/

# ignore these files in any folder
.DS_Store
*.wasm
*.wasm.map
*.wat

# temporarily ignoring these folders that are WIP on my machine

/c
/lua/with-ao-cli
/python
/rust
