
/.vscode/
/node_modules/

*archive/
temp/
tmp/

.container
.DS_Store
*.wasm
*.wasm.map
*.wat

# temporarily ignoring these folders that are WIP

/assemblyscript/old-example
/c
/lua/with-ao-cli
/python

